html {
    background: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.headings {
    font: bold;
    align-self: center;
}
p {
    background: rgb(143, 142, 142);
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
.fit-picture {
    image-rendering: crisp-edges;
}