html {
    background: rgb(120, 223, 249);
}
h1 {
    color: black;
    font: bold;
    align-items: center;
}
h2 {
    align-items: center;
}
h3 {
    align-items: center;
}
p {
    background: rgba(255, 255, 255, 0.741);
}
.center {
    align-items: center;
}
.fit-picture {
    image-rendering: crisp-edges;
}