html {
    background: rgb(120, 223, 249);
}
.headings {
    font: bold;
    align-self: center;
}
p {
    background: rgba(255, 255, 255, 0.741);
}
.center {
    align-items: center;
}
.fit-picture {
    image-rendering: crisp-edges;
}